<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="heading">
    <h1>{{title}}</h1>
    <form action="/users">
        <button>Back</button>
    </form>

</div>
<div class="page-content">

    <h1>404 - {{title }} </h1>


</div>
<script src="../js/main.js"></script>
<script src="../utils.js" type="module"></script>
</div>
</body>
</html>